.buttons {
    display: flex;
    gap: 20px;
}

.buttons__button {
    background-color: white;
    border: none;
    font-size: 18px;
    color: teal;
    transition: 1s;
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
    color: #ccc;
}

@media(max-width: 767px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}